*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #995FC6;
    margin: 50px;
}
header{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.sec {
    display: flex;
    justify-content: center;
}
.tasks{
    display: flex;
    justify-content: center;
    margin-top: 50px;  
}
#addbtn{
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #20ffc7;
    padding: 1px;
    font-size: 15px;
    text-align: center;
}
#editbtn{
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #3dbecf;
    padding: 2px;
    font-size: 15px;
    text-align: center;
}
#deletebtn{
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #ff1f1f;
    padding: 2px;
    font-size: 15px;
    text-align: center;
}
input{
    height: 40px;
    font-size: 25px;
    width: 47%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
}
ul {
    height: 40px;
    font-size: 25px;
    width: 47%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
}
ul li{
    background: white;
    border-bottom:7px solid #995FC6;
}